@model IEnumerable<Project.Models.Workshop_Details>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Begin_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Audience_Count)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Begin_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Audience_Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Workshop_DetailsId }) |
                @Html.ActionLink("Details", "Details", new { id = item.Workshop_DetailsId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Workshop_DetailsId })
            </td>
        </tr>
    }

</table>
<div class="col-md-10">
    <h4 style="color:red;">@ViewBag.auth</h4>
</div>
