@model Project.Models.Turnkey_Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Turnkey_Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Begin_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Begin_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team_Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team_Size)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Turnkey_ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
