@model Project.Models.Employee
@{
    ViewBag.Title = "Personal_Details";
}
<br/><br />
<div>
    <h2>PersonalDetails</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Permanent_Addr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permanent_Addr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Current_Addr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Current_Addr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marital_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marital_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blood_Group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blood_Group)
        </dd>

    </dl>
</div>