@model IEnumerable<Project.Models.Training_Details>
@{
    ViewBag.Title = "RenderTraining";
}
<br /><br />
<h2>Training_details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Begin_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Begin_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }

</table>
