@model IEnumerable<Project.Models.Auth>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auth_Role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auth_Role)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuthId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuthId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuthId })
        </td>
    </tr>
}

</table>
