@model Project.Models.Confirmation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Confirmation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ftype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ftype)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
